.buyButton {
    padding: 10px;
    background-color: burlywood;
    border-radius: 8px;
    margin-top: 10px;
    max-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.closeButton {
    padding: 10px;
    align-self: center;
    text-align: center;
}